@import url('http://fonts.googleapis.com/css?family=Great+Vibes');
@import url('http://fonts.googleapis.com/css?family=Cookie');
@import url('http://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
  font-family: 'Montserrat';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav.navbar {
  background-color: transparent;
  margin-bottom: 5px;
}

a.navbar-brand {
  font-family: 'Great Vibes';
  font-size: 45px;
  color: #FFB7CC;
}

a.nav-link {
  color: #9AB973;
}

.card-body {
  background-color: #F4F0EC;
}

.card-title {
  font-family: 'Cookie';
  font-size: 35px;
  margin-bottom: 0px;
  color: #967BB6;
}

p#detail-label {
  font-size: 22px;
  color: #848482;
  margin-bottom: 0px;
}

p.card-text {
  font-size: 15px;
  margin-bottom: 5px;
}

h1, h3 {
  font-family: 'Cookie';
  font-size: 65px;
  color: #967BB6;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}
